---
import Layout from "../layouts/Layout.astro";
import Image from "../components/Image.astro";
import img from "../images/bestyrelse.jpg";

const BOARD = [
  {
    name: "Lars Henrik Munch",
    title: "bestyrelses&shy;formand",
    post: "formand",
  },

  {
    name: "Dorte Mandrup-Poulsen",
    title: "arkitekt MAA",
    post: "næst&shy;formand",
  },

  {
    name: "Michael Pram Rasmussen",
    title: "bestyrelses&shy;formand",
  },

  {
    name: "Minik Thorleif Rosing",
    title: "professor",
  },

  {
    name: "Inge Berneke",
    title: "SVP, Corporate Affairs",
  },
  {
    name: "Anders Byriel",
    title: "adm. direktør",
  },
];

const MANAGEMENT = [
  { name: "Poul Erik Tøjner", title: "Museums&shy;direktør" },
];
---

<Layout>
  <Image
    src={img}
    caption="Museumsfonden har deponeret en række værker af den franske maler og billedhugger Jean Dubuffet (1901-1985) på Louisiana – mest markant den store figur ’Manoir d’Essor’ fra 1969/1982. Foto: Kim Hansen."
  />

  <h1>Bestyrelse</h1>

  <ul class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    {BOARD.map((member) => (
      <li>
        <div class="font-bold">{member.name}</div>
        <div set:html={member.title} />
        {member.post && <div set:html={`(${member.post})`} />}
      </li>
    ))}
  </ul>

  <h2 class="pt-6">Direktion</h2>
  <ul class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    {MANAGEMENT.map((member) => (
      <li>
        <div class="font-bold">{member.name}</div>
        <div set:html={member.title} />
      </li>
    ))}
  </ul>
</Layout>
